// Colors

// Neutral
$gray-50: hsl(0, 0%, 98%);
$gray-500: hsl(0, 0%, 41%);
$gray-950: hsl(0, 0%, 8%);

// Typography

// Body Copy
$fw-normal: 500;
$fw-bold: 700;

:root {
    font-size: 18px;
    font-family: Epilogue, Montserrat, Aria, sans-serif; }

