/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
/*@media (prefers-reduced-motion: no-preference) {*/
/*  html {*/
/*    interpolate-size: allow-keywords;*/
/*  }*/
/*}*/
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: unset;
  color: unset;
}

.features__items {
  display: inline-flex;
  place-items: center;
  column-gap: 0.75rem;
}

/*****************************************************************/
/************************MEDIA QUERIES****************************/
/*****************************************************************/
@media screen and (min-width: 950px) {
  .features:hover + .features__wrapper {
    display: block;
  }
}
/*****************************************************************/
/************************CLASSES COMPONENTS***********************/
/*****************************************************************/
.todolist:before {
  content: " ";
  width: 14px;
  height: 16px;
  background: url(../images/icon-todo.svg);
}

.calendar:before {
  content: " ";
  width: 16px;
  height: 16px;
  background: url(../images/icon-calendar.svg);
}

.reminders:before {
  content: " ";
  width: 13px;
  height: 17px;
  background: url(../images/icon-reminders.svg);
}

.planning:before {
  content: " ";
  width: 16px;
  height: 16px;
  background: url(../images/icon-planning.svg);
}

/*****************************************************************/
/************************MEDIA QUERIES****************************/
/*****************************************************************/
@media screen and (min-width: 950px) {
  .company:hover + .company__wrapper {
    display: block;
  }
  .company__wrapper {
    width: 125px;
  }
}
:root {
  scroll-behavior: smooth;
  font-size: 18px;
  font-weight: 500;
  font-family: Epilogue, Montserrat, Aria, sans-serif;
}

/*****************************************************************/
/*************************** STYLES ******************************/
/*****************************************************************/
.header {
  width: min(100%, 1440px);
  margin: auto;
  display: flex;
  gap: 3rem;
  padding: 2rem 3rem;
}
.header__left-wrapper {
  flex: 1;
  display: flex;
  column-gap: 4rem;
  align-items: center;
}
.header__logo {
  min-width: fit-content;
  display: grid;
}
.header__logo path {
  fill: #151515;
}
.header__navbar {
  width: 100%;
  display: flex;
  column-gap: 4rem;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
}
.header__btn-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header__items a, .header__btn-one, .header__btn-two {
  text-transform: capitalize;
  color: hsl(0, 0%, 41%);
  transition: color, transform 300ms ease-out;
}
.header__items a:hover, .header__btn-one:hover, .header__btn-two:hover {
  color: hsl(0, 0%, 8%);
  transform: scale(1.1);
}
.header__btn-open {
  place-self: center;
}
@media screen and (min-width: 950px) {
  .header__btn-open {
    display: none;
  }
}
@media screen and (min-width: 950px) {
  .header__btn-close {
    display: none;
  }
}
.header__items a, .header__btn-one, .header__btn-two, .header__btn-open, .header__btn-close {
  cursor: pointer;
}

.main {
  width: min(100%, 1024px);
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  column-gap: 5rem;
  align-items: center;
  margin-bottom: 3rem;
}
.main__image-wrapper {
  animation: infinite-ping 1000ms ease-out alternate-reverse;
  animation-iteration-count: infinite;
}
.main__image-wrapper:hover {
  animation-play-state: paused;
}
.main__content {
  display: flex;
  row-gap: 1.5rem;
  flex-direction: column;
}
.main__title {
  line-height: 1.5ch;
  font-size: 3.5em;
}
.main__paragraph {
  color: hsl(0, 0%, 41%);
}
.main__btn {
  width: fit-content;
  font-weight: 700;
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  transition: all 250ms ease-in;
}
.main__btn:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}
.main__content-wrapper {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  padding: 3rem 1rem;
  animation: main-appear 800ms ease-in-out;
}
.main__clients-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.main__clients-wrapper img {
  object-fit: contain;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  width: 80px;
  cursor: pointer;
  transition: all 500ms ease-out;
}
@media screen and (max-width: 768px) {
  .main__clients-wrapper img {
    width: 80px;
  }
}
@media screen and (max-width: 425px) {
  .main__clients-wrapper img {
    width: 65px;
  }
}
@media screen and (max-width: 375px) {
  .main__clients-wrapper img {
    width: 50px;
  }
}
.main__clients-wrapper img:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

/*****************************************************************/
/************************MEDIA QUERIES****************************/
/*****************************************************************/
@media screen and (max-width: 950px) {
  .header {
    justify-content: space-between;
    padding-inline: 1rem;
  }
  .header__navbar {
    width: min(75%, 350px);
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    background: hsl(0, 0%, 98%);
    flex-direction: column;
    row-gap: 2rem;
    justify-content: flex-start;
    padding: 2rem 1.5rem;
    margin-right: -100%;
    transition: margin-right 500ms ease-out;
  }
  .header__btn-close {
    align-self: flex-end;
    min-width: 26px;
    min-height: 26px;
  }
  .header__btn-close:active {
    transition: transform 100ms ease-out;
    transform: rotate(90deg);
  }
  .header__list {
    flex-direction: column;
    align-self: flex-start;
  }
  .header__btn-wrapper {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .header__btn-two {
    min-width: 80%;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main__image-wrapper {
    animation-iteration-count: 2;
  }
  .main__content {
    text-align: center;
    max-width: 500px;
  }
  .main__title {
    line-height: 1.8ch;
    font-size: 1.75em;
  }
  .main__btn {
    align-self: center;
  }
  .main__clients-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
/*****************************************************************/
/************************CLASSES COMPONENTS***********************/
/*****************************************************************/
.hidden {
  display: none;
}

@media screen and (max-width: 950px) {
  .hidden-nav {
    margin-right: 0 !important;
  }
}

.relative {
  position: relative;
}

@media screen and (max-width: 950px) {
  .bg-blur {
    position: fixed;
    inset: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
  }
}

.btn-rounded {
  border: 2px solid;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
}

.features, .company {
  display: inline-flex;
  place-items: center;
  column-gap: 0.5rem;
}
li:has(.features, .company) {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.features__wrapper, .company__wrapper {
  padding-left: 1.5rem;
}
@media screen and (min-width: 950px) {
  .features__wrapper, .company__wrapper {
    position: absolute;
    top: 50px;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    background: white;
    border-radius: 1rem;
  }
}
.features__list, .company__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  text-transform: capitalize;
}

.arrow-down:after {
  content: " ";
  width: 10px;
  height: 6px;
  background: url(../images/icon-arrow-down.svg);
}

.arrow-up:after {
  content: " ";
  width: 10px;
  height: 6px;
  background: url(../images/icon-arrow-up.svg);
}

/*****************************************************************/
/*****************************@KEYFRAMES**************************/
/*****************************************************************/
@keyframes infinite-ping {
  from {
    transform: translateY(35px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes main-appear {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
