@use 'reset.css';
@use "features";
@use "company";


// Colors
// Neutral
$gray-50: hsl(0, 0%, 98%);
$gray-500: hsl(0, 0%, 41%);
$gray-950: hsl(0, 0%, 8%);

// Typography
// Body Copy
$fw-normal: 500;
$fw-bold: 700;
:root {
    scroll-behavior: smooth;
    font-size: 18px;
    font-weight: $fw-normal;
    font-family: Epilogue, Montserrat, Aria, sans-serif; }

// Mixins
@mixin container-size($max-w) {
    width: min(100%, $max-w);
    margin: auto;
}
@mixin clients-size($breakpoint, $width) {
    @media screen and (max-width: $breakpoint){
        width: $width;
    }
}
@mixin floating-menu {
    display: inline-flex;
    place-items: center;
    column-gap: 0.5rem;

    li:has(&) {
        display: flex; flex-direction: column;
        row-gap: 1.5rem;
    }
    &__wrapper {
        padding-left: 1.5rem;
        @media screen and (min-width: 950px) {
            position: absolute;
            top: 50px;
            padding: 1rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
            background: white;
            border-radius: 1rem;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        text-transform: capitalize;
    }
}


/*****************************************************************/
/*************************** STYLES ******************************/
/*****************************************************************/

.header {
    @include container-size(1440px);
    display: flex; gap: 3rem;
    padding: 2rem 3rem;

    &__left-wrapper {
        flex: 1;
        display: flex; column-gap: 4rem;
        align-items: center;
    }
    &__logo {
        min-width: fit-content;
        display: grid;
        path {fill: #151515;}
    }
    &__navbar {
        width: 100%;
        display: flex; column-gap: 4rem;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        list-style: none; padding: 0;
        display: flex; gap: 2rem;
    }
    &__btn-wrapper {
        display: flex; gap: 2rem;
        align-items: center;
    }

    &__items a, &__btn-one, &__btn-two {
        text-transform: capitalize; color: $gray-500;
        transition: color, transform 300ms ease-out;
        &:hover {color: $gray-950; transform: scale(1.1)}
    }

    &__btn-open { place-self: center; @media screen and (min-width: 950px) {display: none;} }
    &__btn-close { @media screen and (min-width: 950px) {display: none;} }

    &__items a, &__btn-one, &__btn-two, &__btn-open, &__btn-close { cursor: pointer; }
}
.main {
    @include container-size(1024px);
    display: flex; flex-direction: row-reverse;
    justify-content: space-between; column-gap: 5rem;
    align-items: center; margin-bottom: 3rem;

    &__image-wrapper {
        animation: infinite-ping 1000ms ease-out alternate-reverse;
        animation-iteration-count: infinite;
        &:hover { animation-play-state: paused; }
    }
    &__content { display: flex; row-gap: 1.5rem; flex-direction: column; }
    &__title { line-height: 1.5ch; font-size: 3.5em; }
    &__paragraph {color: $gray-500;}
    &__btn {
        width: fit-content;
        font-weight: $fw-bold;
        background: $gray-950; color: $gray-50;
        transition: all 250ms ease-in;
        &:hover {
            background-color: $gray-50; color: $gray-950; cursor: pointer;
            box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
        }
    }

    &__content-wrapper {
        display: flex; gap: 3rem;
        flex-direction: column;
        padding: 3rem 1rem;
        animation: main-appear 800ms ease-in-out;
    }
    &__clients-wrapper {
        display: flex; gap: 2rem;
        flex-wrap: wrap;
    }
    &__clients-wrapper img {
        object-fit: contain;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        width: 80px; cursor: pointer;
        @include clients-size(768px, 80px);
        @include clients-size(425px, 65px);
        @include clients-size(375px, 50px);

        transition: all 500ms ease-out;
        &:hover {
            transform: scale(1.1) rotate(5deg);
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
        }

    }

}


/*****************************************************************/
/************************MEDIA QUERIES****************************/
/*****************************************************************/

@media screen and (max-width: 950px) {
    .header {
        justify-content: space-between;
        padding-inline: 1rem;
        &__navbar {
            width: min(75%, 350px);
            height: 100vh; overflow-y: auto;
            position: fixed; z-index: 10;
            top: 0; bottom: 0; right: 0;
            background: $gray-50;
            flex-direction: column; row-gap: 2rem;
            justify-content: flex-start;
            padding: 2rem 1.5rem; margin-right: -100%;
            transition: margin-right 500ms ease-out;
        }
        &__btn-close {
            align-self: flex-end; min-width: 26px; min-height: 26px;
            &:active {transition: transform 100ms ease-out; transform: rotate(90deg);}
        }
        &__list {flex-direction: column; align-self: flex-start;}
        &__btn-wrapper {flex-direction: column; width: 100%; text-align: center;}
        &__btn-two {min-width: 80%;}
    }

    .main {
        flex-direction: column;
        align-items: center;
        &__image-wrapper {animation-iteration-count: 2;}
        &__content { text-align: center; max-width: 500px}
        &__title {line-height: 1.8ch; font-size: 1.75em;}
        &__btn { align-self: center; }
        &__clients-wrapper { justify-content: center; flex-wrap: wrap; gap: 1rem;}
    }
}


/*****************************************************************/
/************************CLASSES COMPONENTS***********************/
/*****************************************************************/

.hidden { display: none; }
.hidden-nav { @media screen and (max-width: 950px) {margin-right: 0 !important;} }
.relative {position: relative;}
.bg-blur {
    @media screen and (max-width: 950px) {
        position: fixed; inset: 0; z-index: 5;
        background: rgba(0, 0, 0, 0.5);}
}
.btn-rounded {
    border: 2px solid;
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
}
.features, .company {
    @include floating-menu;
}
.arrow-down {
    &:after {
        content: " ";
        width: 10px;
        height: 6px;
        background: url(../images/icon-arrow-down.svg);
    }
}
.arrow-up {
    &:after {
        content: " ";
        width: 10px;
        height: 6px;
        background: url(../images/icon-arrow-up.svg);
    }
}


/*****************************************************************/
/*****************************@KEYFRAMES**************************/
/*****************************************************************/

@keyframes infinite-ping {
    from {transform: translateY(35px);}
    to {transform: translateY(0px);}
}
@keyframes main-appear {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
